body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin: 0;
}

#game-board
{
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    height: 100vh;
    width: 600px;
    background-color: black;

}

.white
{
    background-color: white;
}

/* tetrominoes */

.cyan
{
    background-color: cyan;
}

.yellow
{
    background-color: yellow;
}

.purple
{
    background-color: purple;
}

.blue
{
    background-color: blue;
}

.orange
{
    background-color: orange;
}

.green
{
    background-color: rgb(32, 224, 87);
}

.red
{
    background-color: red;
}
